
.boxone2 {
  width: 100%;
  background: #f3f0f0;
  position: relative;
  z-index: 2;
}
.boxone {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  margin-top: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.data {
  width: 75%;
}
ul {
  width: 100%;
}
li {
  width: 100%;
  line-height: 2.5em;
  border-bottom: 1px dashed #999;
  text-indent: 2em;
  cursor: pointer;
}
a {
  width: 50%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
a:hover {
  color: #1e649f;
}
.spandata {
  margin-right: 3%;
}
.data {
  background: #ffffff;
}
.pv {
  margin: 2rem 0;
}
